* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  min-width: 100vw;
}

body {
  background: black;
  min-height: 100vh;
  min-width: 100vw;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  position: relative;
}
.box::before {
  content: "";
  width: 440px;
  height: 440px;
  background-color: #89cff0;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.box.clicked .box-body {
  animation: box-body 1s forwards ease-in-out;
}
.box.clicked .box-lid {
  animation: box-lid 1s forwards ease-in-out;
}
.box.clicked .box-bowtie::before {
  animation: box-bowtie-left 1.1s forwards ease-in-out;
}
.box.clicked .box-bowtie::after {
  animation: box-bowtie-right 1.1s forwards ease-in-out;
}
.box-body {
  position: relative;
  height: 200px;
  width: 200px;
  margin-top: 123.3333333333px;
  background-color: #cc231e;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.box-body::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  background-color: white;
}
.box-lid {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  bottom: 90%;
  height: 40px;
  background-color: #cc231e;
  height: 40px;
  width: 220px;
  border-radius: 5%;
  box-shadow: 0 8px 4px -4px rgba(0, 0, 0, 0.3);
}
.box-lid::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  background-color: white;
}
.box-bowtie {
  z-index: 1;
  height: 100%;
}
.box-bowtie::before, .box-bowtie::after {
  content: "";
  width: 83.3333333333px;
  height: 83.3333333333px;
  border: 16.6666666667px solid white;
  border-radius: 50% 50% 0 50%;
  position: absolute;
  bottom: 99%;
  z-index: -1;
}
.box-bowtie::before {
  left: 50%;
  transform: translateX(-100%) skew(10deg, 10deg);
}
.box-bowtie::after {
  left: 50%;
  transform: translateX(0%) rotate(90deg) skew(10deg, 10deg);
}

@keyframes box-lid {
  0%, 42% {
    transform: translate3d(-50%, 0%, 0) rotate(0deg);
  }
  60% {
    transform: translate3d(-85%, -230%, 0) rotate(-25deg);
  }
  90%, 100% {
    transform: translate3d(-119%, 225%, 0) rotate(-70deg);
  }
}
@keyframes box-body {
  0% {
    transform: translate3d(0%, 0%, 0) rotate(0deg);
  }
  25% {
    transform: translate3d(0%, 25%, 0) rotate(20deg);
  }
  50% {
    transform: translate3d(0%, -15%, 0) rotate(0deg);
  }
  70% {
    transform: translate3d(0%, 0%, 0) rotate(0deg);
  }
}
@keyframes box-bowtie-right {
  0%, 50%, 75% {
    transform: translateX(0%) rotate(90deg) skew(10deg, 10deg);
  }
  90%, 100% {
    transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
    box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.3);
  }
}
@keyframes box-bowtie-left {
  0% {
    transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
  }
  50%, 75% {
    transform: translate(-50%, -15%) rotate(45deg) skew(10deg, 10deg);
  }
  90%, 100% {
    transform: translateX(-100%) rotate(0deg) skew(10deg, 10deg);
  }
}
@keyframes open-present {
  0% {
    transform: translate(-50%, 10px) rotate(-30deg);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    opacity: 1;
  }
}
.inside {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 3px 5px #d9d9d9;
  opacity: 0;
  text-align: center;
  font-size: 20px;
  position: absolute;
  animation: open-present 1s forwards;
  animation-delay: 0.7s;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  min-width: 250px;
}
.inside a {
  display: block;
  padding: 20px;
  text-decoration: none;
  height: 100%;
  width: 100%;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
