html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: var(--font-color-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  margin-bottom: var(--margin-small);
}
h6 {
  font-size: 1rem;
}
h5 {
  font-size: 1.1rem;
}
h4 {
  font-size: 1.4rem;
}
h3 {
  font-size: 1.6rem;
}
h2 {
  font-size: 1.8rem;
}
h1 {
  font-size: 2rem;
}
.text-center {
  text-align: center;
}
.page-title {
  margin-bottom: var(--margin-default);
}